.kupa{
    width: 1500px;
    margin:auto;
    }
    
    .solakaydir{
        float:left;
        padding:0 10px 10px 0;
        }

        .messi{
            float:left;
            padding:0 10px 10px 0;
            }