.sihir{
    width: 1500px;
    margin:auto;
    }
    
    .solakaydir{
        float:left;
        padding:0 10px 10px 0;
        }

    .neymar{
            float:left;
            padding:0 10px 10px 0;
            }

.alex{
     float:right;
     padding:0 10px 10px 0;
}

.yattara{
    float:left;
    padding:0 10px 10px 0;
}